.coach {
  max-width: 250px;
  margin: 20px;
}

.coach > img {
  display:block;
  margin:auto;
  width: 135px;
  height: 135px;
  border-radius: 50%
}

.coach > h4 {
  text-align: center;
  padding-top: 0.5em;
  margin: 0;
}

.coach > p {
  margin: 0;
  font-size: 0.8em;
  color: #565656;
  margin-top: 5px;
  text-align: center;
}

.col {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin-bottom: 50px;
}

.col > ul {
  list-style: none;
  background-color: #eeeeee;
  border-radius: 1em;
  color: #656565;
  display: block;
  margin: 20px;
  min-width: 340px;
  max-width: 340px;
  box-shadow: 0px 8px 4px 4px rgba(0, 0, 0, 0.15);
}

.col > ul > li > h4 {
  border-bottom: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.col > ul > li > h5 {
  padding-top: 20px;
}

.col > ul > li > p {
  font-size: 1.3em;
  color: #cc2222;
}


@media (orientation: portrait) { 
/* phones, 99.9% of the time */

  .col {
    flex-direction: column;
	align-items: center;
  }
  
  .coach {
    max-width: none;
    margin: 40px;
  }
  
  .coach > img {
    width: 270px;
    height: 270px;
  }
  
  
  .coach > p {
    font-size: 1.2em;
  }
  
  
  .col > ul {
    min-width: none;
    max-width: none;
	width: 90%;
    border-radius: 2em;
  }
  
  .col > ul > li { margin: 20px 0; }
  .col > ul > li > h4 { font-size: 3.0em; }
  .col > ul > li > h5 { font-size: 1.5em; }
  .col > ul > li > p { font-size: 2.5em; }
  .col > ul > li > a > img { width: 100px; }
}